@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="modal fade modal-dialog modal-dialog-centered" id="AddConnectionModal" style="display: none;" tabindex="-1" aria-labelledby="AddConnectionModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title" id="AddConnectionModalLabel">Add a connection</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @onclick="Clear"></button>
      </div>
      <EditForm Model="@_connection" OnValidSubmit="@HandleValidSubmit">
        <div class="modal-body">

          <span style="color: var(--red);">@_errorMessage</span>
          <span style="color: var(--green);">@_successMessage</span>
          
          <div class="dropdowns">

            <select class="form-select" @bind="_connection.PaperOneId" aria-label="paper1select">
              <option disabled selected value> -- select a paper -- </option>
              @foreach (var paper in Graph.allPapers)
                {
                  <option value=@paper.Id>@paper.Title</option>
                }
            </select>
            <select class="form-select" @bind="_connection.PaperTwoId" aria-label="paper2select">
              <option disabled selected value> -- select a paper -- </option>
              @foreach (var paper in Graph.allPapers)
                {
                  <option value=@paper.Id>@paper.Title</option>
                }
            </select>

          </div>

          <div>
            <h2>Description</h2>
            <textarea class="form-control" @bind="_connection.Description" aria-label="With textarea" placeholder="write here ..."></textarea>
          </div>

          <h2>Share with a team</h2>
          <select class="form-select" @bind="_selectedTeamId" aria-label="teamselect">
              <option value> -- select a team -- </option>              
              @foreach (var team in CurrentUser.teams)
                {
                  @if (CurrentUser.selectedTeam != null && CurrentUser.selectedTeam.Id == team.Id)
                  {
                    <option selected value=@team.Id>@team.TeamName</option>
                  }
                  else 
                  {
                    <option value=@team.Id>@team.TeamName</option>
                  }
                }
            </select>
        </div>
        <div class="modal-footer">
          <ButtonIcon  type="submit" icon="oi oi-check" tooltip="Create" data_bs_target="#AddConnectionModal" />
        </div>
        </EditForm>
      </div>
  </div>
</div>

@code {
  private ConnectionCreateDTO _connection = new();

  private string _errorMessage = string.Empty;

  private string _successMessage = string.Empty;

  private int? _selectedTeamId;

  [Parameter] public EventCallback refreshGraph { get; set; }

  protected override void OnParametersSet()
  {
    if (CurrentUser.selectedTeam != null) _selectedTeamId = CurrentUser.selectedTeam.Id;
  }

  private async Task HandleValidSubmit()
  {
    if (_connection.PaperOneId == 0 || _connection.PaperTwoId == 0)
    {
      _errorMessage = "Please select two papers.";
      return;
    }

    if (_connection.PaperOneId == _connection.PaperTwoId)
    {
      _errorMessage = "Please select two different papers.";
      return;
    }

    if (CurrentUser.connectionExists(_connection))
    {
      _errorMessage = "You have already created a connection between these papers.";
      return;
    }

    _connection.CreatorId = CurrentUser.userOid;
    _connection.ConnectionType = "other";
    _connection.TeamId = _selectedTeamId;

    var response = await Http.PostAsJsonAsync("api/Connection", _connection);

    if (response.IsSuccessStatusCode)
    {
        _errorMessage = string.Empty;
        _successMessage = "Created!";
        var created = await response.Content.ReadFromJsonAsync<ConnectionDTO>();
        if (created != null && (CurrentUser.selectedTeam == null || CurrentUser.selectedTeam.Id == _selectedTeamId)) CurrentUser.shownConnections.Add(created);
        await refreshGraph.InvokeAsync();
    } 
    else 
    {
        _errorMessage = $"An error occured.";
    }

    _errorMessage = string.Empty;
    _connection = new();
    _selectedTeamId = 0;
  }

  public void Clear() 
  {
    _successMessage = string.Empty;
    _errorMessage = string.Empty;
    _connection = new();
    _selectedTeamId = 0;
  }
}